@model IEnumerable<Deeor.Models.Bracelette>

@{
    ViewData["Title"] = "Index";
}

<h1>Our Products</h1>

<p>
   
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Brand)</h5>
                    <p class="card-text">
                        <strong>Material:</strong> @Html.DisplayFor(modelItem => item.Material) <br />
                        <strong>Length:</strong> @Html.DisplayFor(modelItem => item.Length) <br />
                        <strong>Beads:</strong> @Html.DisplayFor(modelItem => item.Beads) <br />
                        <strong>Color:</strong> @Html.DisplayFor(modelItem => item.Color) <br />
                        <strong>Class Type:</strong> @Html.DisplayFor(modelItem => item.ClassType) <br />
                        <strong>Price:</strong> @Html.DisplayFor(modelItem => item.Price) <br />
                      
                    </p>
                    
                </div>
            </div>
        </div>
    }
</div>
